<!DOCTYPE html>
<html data-ng-app="Chant" data-ng-controller="chantController"
      data-ng-class="{ 'playing': state.isPlaying, 'first-visit': state.isFirstVisit, 'menu-visible': state.isMenuVisible }">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Waterplea">
    <meta name="theme-color" content="#a24bcf">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Chant by Waterplea</title>

    <meta property="og:title" content="Chant by Waterplea" />
    <meta property="og:description" content="Convert your English text into music with this audio experiment." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.waterplea.com/chant/" />
    <meta property="og:image" content="http://www.waterplea.com/chant/assets/images/opengraph.jpg" />

    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:300,400&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/style.css">
    <link href="assets/favicon.png" rel="icon" type="image/x-icon" />

    <script src="assets/lib/recorder.js"></script>
    <script src="assets/lib/angular.min.js"></script>
    <script src="assets/lib/lz-string.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/services.js"></script>
    <script src="app/controllers.js"></script>
    <script src="app/directives.js"></script>
</head>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85397246-1', 'auto');
  ga('send', 'pageview');

</script>
<body data-ng-class="::{ 'not-supported' : notSupported }"
      data-notsupported="Web Audio API is not supported in this browser">

<fieldset data-ng-disabled="popup" class="body--disabler">
    <div class="content">
        <header>
            <button type="button" class="header--menu" data-ng-click="state.isMenuVisible = !state.isMenuVisible"></button>
            <h2>
                <span class="header--logo"></span>
                <span class="header--title">
                    <strong>Chant</strong> by <a href="http://waterplea.com" target="_blank" tabindex="{{isInputBlocked() ? '-1' : '0'}}" class="header--waterplea"></a>
                </span>
            </h2>
            <section class="header--controls">
                <button class="header--controls-play" type="button" title="{{state.isPlaying ? translate('ui.stop') : translate('ui.play')}}" data-ng-click="buttons.play()"></button>
                <label class="header--controls-loop" title="{{::translate('ui.loop')}}"><input data-ng-model="settings.loop" type="checkbox"><span></span></label>
                <label class="header--controls-keyboard" title="{{::translate('ui.keyboard')}}" data-ng-click="wakeSafari()"><input data-ng-model="settings.keyboard" type="checkbox"><span></span></label>
                <button class="header--controls-share" type="button" title="{{::translate('ui.share')}}" data-ng-click="buttons.share()"></button>
            </section>
            <section class="header--controls">
                <label class="header--controls-bpm" title="{{::translate('ui.tempo')}}">
                    <input id="tempo" data-ng-model="settings.tempo" data-ng-disabled="state.isPlaying" type="number" min="30" max="600" maxlength="3">bpm
                </label>
                <label class="header--controls-key" title="{{::translate('ui.key')}}">
                    <select class="float-right input" data-ng-model="settings.key">
                        <option value="1">C</option>
                        <option value="1.0595">C#</option>
                        <option value="1.1225">D</option>
                        <option value="1.1892">D#</option>
                        <option value="1.2599">E</option>
                        <option value="1.3348">F</option>
                        <option value="1.4142">F#</option>
                        <option value="1.4983">G</option>
                        <option value="1.5874">G#</option>
                        <option value="1.6818">A</option>
                        <option value="1.7818">A#</option>
                        <option value="1.8877">B</option>
                    </select>
                </label>
                <button class="header--controls-keys" type="button" title="{{::translate('ui.accidentals')}}" data-ng-click="buttons.popup('accidentals', settings)"></button>
            </section>
            <section class="header--controls">
                <button class="header--controls-help" type="button" title="{{::translate('ui.help')}}" tabindex="-1"></button>
                <button class="tooltip tooltip--header bottom center" tabindex="-1">
                    <div><span class="help--play"></span>{{::translate('help.play')}}</div>
                    <div><span class="help--loop"></span>{{::translate('help.loop')}}</div>
                    <div><span class="help--keyboard"></span>{{::translate('help.keyboard')}}</div>
                    <p><i>{{::translate('help.keyboardtip')}}</i></p>
                    <div><span class="help--share"></span>{{::translate('help.share')}}</div>
                    <div><span class="help--bpm"></span>{{::translate('help.tempo')}}</div>
                    <div><span class="help--key"></span>{{::translate('help.key')}}</div>
                    <div><span class="help--keys"></span>{{::translate('help.accidentals')}}</div>
                    <br>
                    <div><i>{{::translate('help.more')}}</i></div>
                </button>
            </section>
        </header>

        <main>
            <button type="button" class="main--button-add" data-ng-click="addTrack()" data-ng-cloak>{{::translate('ui.add')}}</button>
			
			<chant data-ng-click="scrollTo($event, track)" class="{{lastTrack === track && settings.keyboard ? 'current' : ''}}" data-ng-repeat="track in tracks | orderBy:'':true" disabled="state.isPlaying || isInputBlocked()" data-ng-model="track" data-ng-cloak></chant>

            <nav data-ng-cloak>
                <button type="button" class="nav--button clear" data-ng-click="buttons.clear()">{{::translate('ui.clear')}}</button>
                <button type="button" class="nav--button featured" data-ng-click="buttons.featured()">{{::translate('ui.featured')}}</button>
                <button type="button" class="nav--button save" data-ng-click="buttons.save()">{{::translate('ui.save')}}</button>
                <button type="button" class="nav--button load" data-ng-click="buttons.load()">{{::translate('ui.load')}}</button>
                <button type="button" class="nav--button download" data-ng-click="buttons.download()" data-ng-disabled="state.isPlaying">{{::translate('ui.download')}}</button>
                <button type="button" class="nav--button notes" data-ng-click="buttons.popup('notes')">{{::translate('ui.notes')}}</button>
                <button type="button" class="nav--button info" data-ng-click="buttons.popup('info')">{{::translate('ui.info')}}</button>
            </nav>
        </main>

        <footer data-ng-class="{ 'expanded' : showSettings }" data-ng-cloak>
            <div class="footer--desktop">© 2016 by <a target="_blank" href="http://waterplea.com" tabindex="{{isInputBlocked() ? '-1' : '0'}}">Waterplea</a>. {{::translate('ui.check')}} <a target="_blank" href="http://waterplea.bandcamp.com/" tabindex="{{isInputBlocked() ? '-1' : '0'}}">{{::translate('ui.our')}}</a>.</div>
            <div class="footer--mobile">
                <section class="footer--controls">
                    <button class="footer--controls-settings" type="button" title="{{::translate('ui.settings')}}" data-ng-click="showSettings = !showSettings"></button>
                    <button class="footer--controls-play" type="button" title="{{state.isPlaying ? translate('ui.stop') : translate('ui.play')}}" data-ng-click="buttons.play()"></button>
                    <label class="footer--controls-loop" title="{{::translate('ui.loop')}}"><input data-ng-model="settings.loop" type="checkbox"><span></span></label>
                    <label class="footer--controls-keyboard" title="{{::translate('ui.keyboard')}}" data-ng-click="wakeSafari()"><input data-ng-model="settings.keyboard" type="checkbox"><span></span></label>
                    <button class="footer--controls-share" type="button" title="{{::translate('ui.share')}}" data-ng-click="buttons.share()"></button>
                    <button class="footer--controls-help" type="button" title="{{::translate('ui.help')}}" tabindex="-1"></button>
                    <button class="tooltip tooltip--footer bottom center" tabindex="-1">
                        <div><span class="help--play"></span>{{::translate('help.play')}}</div>
                        <div><span class="help--loop"></span>{{::translate('help.loop')}}</div>
                        <div><span class="help--keyboard"></span>{{::translate('help.keyboard')}}</div>
                        <div><span class="help--share"></span>{{::translate('help.share')}}</div>
                        <div>{{::translate('help.tap')}}<span class="help--settings"></span>{{::translate('help.settings')}}</div>
                        <div><span class="help--bpm"></span>{{::translate('help.tempo')}}</div>
                        <div><span class="help--key"></span>{{::translate('help.key')}}</div>
                        <div><span class="help--keys"></span>{{::translate('help.accidentals')}}</div>
                        <div><i>{{::translate('help.more')}}</i></div>
                    </button>
                </section>
                <section class="footer--controls additional">
                    <label class="footer--controls-bpm" title="{{::translate('ui.tempo')}}">
                        <input data-ng-model="settings.tempo" data-ng-disabled="state.isPlaying" type="number" min="30" max="600" maxlength="3">bpm
                    </label>
                    <label class="footer--controls-key" title="{{::translate('ui.key')}}">
                        <select class="float-right input" data-ng-model="settings.key">
                            <option value="1">C</option>
                            <option value="1.0595">C#</option>
                            <option value="1.1225">D</option>
                            <option value="1.1892">D#</option>
                            <option value="1.2599">E</option>
                            <option value="1.3348">F</option>
                            <option value="1.4142">F#</option>
                            <option value="1.4983">G</option>
                            <option value="1.5874">G#</option>
                            <option value="1.6818">A</option>
                            <option value="1.7818">A#</option>
                            <option value="1.8877">B</option>
                        </select>
                    </label>
                    <button class="footer--controls-keys" type="button" title="{{::translate('ui.accidentals')}}" data-ng-click="buttons.popup('accidentals', settings)"></button>
                </section>
            </div>
        </footer>
    </div>
</fieldset>

<fieldset data-ng-disabled="dialog" data-ng-if="popup" class="popup" data-ng-cloak data-ng-include="'templates/' + popup.type + '.html'"></fieldset>

<section data-ng-if="dialog" class="dialog--container" data-ng-click="closeDialog($event)" data-ng-cloak>
    <div class="dialog">
        <h1 class="dialog--title">{{::dialog.title}}</h1>
        <p class="dialog--text">{{::dialog.text}}</p>
        <p class="dialog--data">{{::dialog.data}}</p>
        <div class="dialog--buttons">
            <button type="button" class="dialog--button" data-ng-if="dialog.callback" data-ng-click="dialog.callback()">{{::translate('dialog.yes')}}</button>
            <button type="button" class="dialog--button">{{ dialog.callback ? translate('dialog.cancel') : translate('dialog.ok') }}</button>
        </div>
    </div>
</section>

<div class="tooltip initial">{{::translate('ui.howto')}}</div>

<section id="progress" class="progress" data-progress="false" data-text="{{::translate('ui.encoding')}}">{{::translate('ui.encoding')}}</section>

<section class="undo" data-ng-if="undo">{{undo.text}} <button class="undo--button" type="button" data-ng-click="undo.func()">{{::translate('ui.undo')}}</button></section>

</body>
</html>