html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: 400;
}
.settings {
  position: absolute;
  border-radius: 100%;
  border: none;
  background: #666;
  width: 30px;
  height: 30px;
  top: 10px;
  left: 10px;
  outline: none;
}
.settings::before,
.settings::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: white;
  box-shadow: 0 0 0 1px white, 0 16px 0 -1px white, 0 -16px 0 -1px white, 16px 0 0 -1px white, -16px 0 0 -1px white;
}
.settings::after {
  transform: rotate(45deg);
}
body {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  animation: fadeIn 0.5s ease;
  min-height: 320px;
  min-width: 320px;
  text-align: center;
  background: whitesmoke;
  color: #444444;
}
body.not-supported * {
  display: none;
}
body.not-supported::after {
  content: 'Web Audio API is not supported in this browser';
}
body.form-active form {
  margin-left: 0;
}
body.form-active main {
  margin-right: -240px;
}
* {
  box-sizing: inherit;
}
main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-width: 310px;
  flex: 1;
  text-align: left;
  padding: 20px 40px;
  background: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  transition: margin-right 0.3s ease;
}
form {
  position: relative;
  margin-left: -240px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  line-height: 20px;
  font-size: 14px;
  min-width: 250px;
  text-align: left;
  padding: 20px 40px;
  background: #fff397;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  transition: margin-left 0.3s ease;
}
form .input {
  border: none;
  background: rgba(68, 68, 68, 0.1);
  margin: 0;
  transition: box-shadow 0.3s ease;
}
form input.input {
  padding: 0 5px;
}
form label,
form div {
  margin: 5px 0;
}
form .play,
form .stop {
  display: none;
}
form .ng-invalid {
  box-shadow: 0 0 2px red;
}
.play,
.stop {
  width: 100%;
  margin-top: auto;
  border: none;
  padding: 10px 0;
  border-radius: 2px;
  background: rgba(68, 68, 68, 0.1);
  transition: background 0.3s ease;
}
.play:disabled,
.stop:disabled {
  background: none;
}
.stop {
  display: none;
}
.playing .play {
  display: none;
}
.playing .stop {
  display: inline;
}
.playing form .play,
.playing form .stop {
  display: none;
}
.chant {
  width: 100%;
  resize: none;
  flex: 1;
  margin-top: 20px;
  padding: 10px;
  border: none;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
}
.float-right {
  float: right;
  width: 75px;
  height: 20px;
}
.step input {
  width: 1px;
  height: 1px;
  opacity: 0;
  margin: 0;
}
.step span {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 100%;
  cursor: pointer;
  transition: background 0.3s ease;
}
.step input:checked + span {
  background: rgba(68, 68, 68, 0.1);
}
@media screen and (min-width: 1100px) {
  .settings {
    display: none;
  }
  body {
    flex-direction: row;
  }
  main {
    flex: none;
    border-top-left-radius: 60px;
    height: 500px;
    width: 550px;
  }
  main .play,
  main .stop {
    display: none;
  }
  form {
    margin-left: 0;
    height: 500px;
    border-bottom-right-radius: 30px;
  }
  form .play {
    display: inline;
  }
  .playing form .play {
    display: none;
  }
  .playing form .stop {
    display: inline;
  }
  .playing main .play,
  .playing main .stop {
    display: none;
  }
}
