<article class="main--track {{track.instrument}} {{track.removed}}"
         data-ng-class="{ 'expanded' : showMore, 'muted' : track.muted }" data-ng-cloak>
    <div data-ng-attr-contenteditable="{{ !disabled }}" class="track--chant" data-ng-show="!help"
         data-ng-blur="updateStartingPosition();" data-ng-keypress="playChar($event)"
         data-placeholder="{{::translate('chant.placeholder')}}"></div>
    <div class="track--chant" data-ng-show="help">
        {{::translate('help.trackpressone')}} <span class="track--help"></span> {{::translate('help.trackpresstwo')}}
        <p>{{::translate('help.trackcontrols')}}</p>
        <div class="track--help-instrument">{{::translate('help.trackinstrument')}}</div>
        <div class="track--help-volume">{{::translate('help.trackvolume')}}</div>
        <div class="track--help-panning">{{::translate('help.trackpanning')}}</div>
        <div class="track--help-octave">{{::translate('help.trackoctave')}}</div>
        <div class="track--help-effects">{{::translate('help.trackeffects')}}</div>
        <div class="track--help-lock">{{::translate('help.tracklock')}}</div>
        <div class="track--help-key">{{::translate('help.trackkey')}}</div>
        <div class="track--help-accidentals">{{::translate('help.trackaccidentals')}}</div>
        <div class="track--help-solo">{{::translate('help.tracksolo')}}</div>
    </div>

    <button class="header--controls-help" type="button" title="{{::translate('ui.help')}}" tabindex="-1" data-ng-click="help = !help"></button>

    <aside class="track--aside" data-ng-class="{ 'track--aside-loading': isLoading }">
        <label class="track--instrument" title="{{::translate('chant.instrument')}}">
            <select data-ng-model="track.instrument" data-ng-change="loadSamples(track.instrument)">
                <option value="acoustic">{{::translate('instruments.acoustic')}}</option>
                <option value="electric">{{::translate('instruments.electric')}}</option>
                <option value="bass">{{::translate('instruments.bass')}}</option>
                <option value="harmonics">{{::translate('instruments.harmonics')}}</option>
                <option value="ebow">{{::translate('instruments.ebow')}}</option>
                <option value="piano">{{::translate('instruments.piano')}}</option>
                <!--<option value="rhodes">{{::translate('instruments.rhodes')}}</option>-->
                <option value="synth">{{::translate('instruments.synth')}}</option>
                <option value="organ">{{::translate('instruments.organ')}}</option>
                <!--<option value="hammond">{{::translate('instruments.hammond')}}</option>-->
                <!--<option value="violin">{{::translate('instruments.violin')}}</option>-->
                <!--<option value="cello">{{::translate('instruments.cello')}}</option>-->
                <option value="double">{{::translate('instruments.double')}}</option>
                <option value="harmonica">{{::translate('instruments.harmonica')}}</option>
                <!--<option value="flute">{{::translate('instruments.flute')}}</option>-->
                <!--<option value="chimes">{{::translate('instruments.chimes')}}</option>-->
                <!--<option value="bell">{{::translate('instruments.bell')}}</option>-->
                <!--<option value="sax">{{::translate('instruments.sax')}}</option>-->
                <option value="tank">{{::translate('instruments.tank')}}</option>
                <option value="drums">{{::translate('instruments.drums')}}</option>
                <option value="waterplea">{{::translate('instruments.waterplea')}}</option>
            </select>
            <span></span>
        </label>
        <span class="track--volume">
            <label class="track--mute" title="{{::translate('chant.mute')}}"><input data-ng-model="track.muted" type="checkbox"><span></span></label>
            <input class="track--volume-input" title="{{::translate('chant.volume')}}" data-ng-disabled="track.muted" type="range" data-ng-model="track.volume" step="1" min="0" max="50">
        </span>
        <label class="track--panning" title="{{::translate('chant.panning')}}">
            <input class="track--panning-input" type="range" data-ng-model="track.panning" step="1" min="-22" max="22"><span></span>
        </label>
        <label class="track--octave" title="{{::translate('chant.octave')}}">
            <input class="track--octave-input" type="number" data-ng-model="track.octave" step="1" min="-5" max="5" maxlength="2"><span></span>
        </label>
        <span class="track--effects">
            <label class="track--dry" title="{{::translate('chant.effects')}}"><input data-ng-model="track.dry" type="checkbox"><span></span></label>
            <input class="track--effects-input" title="{{::translate('chant.amount')}}" data-ng-disabled="track.dry" type="range" data-ng-model="track.effects" step="1" min="0" max="50">
        </span>
        <label class="track--lock" title="{{::translate('chant.lock')}}"><input data-ng-model="track.locked" type="checkbox"><span></span></label>
        <label class="track--key" title="{{::translate('chant.key')}}">
            <select data-ng-model="track.key" data-ng-disabled="track.locked">
                <option value="1">C</option>
                <option value="1.0595">C#</option>
                <option value="1.1225">D</option>
                <option value="1.1892">D#</option>
                <option value="1.2599">E</option>
                <option value="1.3348">F</option>
                <option value="1.4142">F#</option>
                <option value="1.4983">G</option>
                <option value="1.5874">G#</option>
                <option value="1.6818">A</option>
                <option value="1.7818">A#</option>
                <option value="1.8877">B</option>
            </select>
            <span></span>
        </label>
        <button class="track--keys" type="button" title="{{::translate('chant.accidentals')}}" data-ng-disabled="track.locked" data-ng-click="showAccidentals()"></button>
        <button class="track--solo" type="button" title="{{::translate('chant.solo')}}" data-ng-click="solo()"></button>
        <button class="track--more" type="button" title="{{::translate('chant.more')}}" data-ng-click="showMore = !showMore"></button>
    </aside>
    <button class="track--remove" type="button" title="{{::translate('chant.remove')}}"></button>
</article>